@font-face { font-family: font1; src: url("SourceCodePro-Regular.ttf"); }

#title{
    font-family: font1;
    font-size: 40px;
    color: white;
    position: fixed;
    left: 30px;
    top: -25px;
}

#basics1{
    font-family: font1;
    font-size: 20px;
    color: white;
    width: 320px;
    height: 50px;
    position: fixed;
    left: -15px;
    top: 150px;
    background-color: rgb(10, 52, 62);
    border: 2px solid rgb(10, 52, 62);
    transition-duration: 0.4s;
    border-radius: 15px;
}

#basics1:hover{
    background-color: rgb(2, 7, 12);
    border-color: rgb(2, 7, 12);
    width: 330px;
}

#basics2{
    font-family: font1;
    font-size: 20px;
    color: white;
    width: 320px;
    height: 50px;
    position: fixed;
    left: -15px;
    top: 200px;
    background-color: rgb(10, 52, 62);
    border: 2px solid rgb(10, 52, 62);
    transition-duration: 0.4s;
    border-radius: 15px;
}

#basics2:hover{
    background-color: rgb(2, 7, 12);
    border-color: rgb(2, 7, 12);
    width: 330px;
}



#lvltitle{
    font-family: font1;
    font-size: 40px;
    color: white;
    position: fixed;
    left: 500px;
    top: 5px;
}

#nav{
    background-color: rgb(10, 52, 62);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 2000px;
    height: 80px;
}

#git{
    width: 60px;
    position: fixed;
    top: 10px;
    right: 40px;
}

#html{
    font-family: font1;
    font-size: 30px;
    color: white;
    width: 120px;
    height: 80px;
    position: fixed;
    left: 500px;
    top: 0px;
    background-color: rgb(10, 52, 62);
    border: 2px solid rgb(10, 52, 62);
    transition-duration: 0.4s;
}

#html:hover{
    background-color: rgb(2, 7, 12);
    border-color: rgb(2, 7, 12);
}


#code{
    background-color: rgb(10, 52, 62);
    width: 1200px;
    height: 700px;
    position: fixed;
    left: 500px;
    top: 150px;
    border-radius: 15px;
}


#head2{
    font-family: font1;
    font-size: 20px;
    color: white;
    position: fixed;
    left: 530px;
    top: 340px;
    margin-right: 200px;
}

#input11{

    background-color:rgb(10, 52, 62);
    border: 2px solid rgb(26, 196, 134);
    color: white;
    font-family: font1;
    margin-top: 250px;
    margin-left: 30px;
    width: 500px;
    height: 25px;

}

#input11comfirm{
    font-family: font1;
    font-size: 20px;
    color: white;
    width: 200px;
    height: 50px;
    position: fixed;
    right: 250px;
    top: 285px;
    background-color: rgb(7, 35, 43);
    border: 2px solid rgb(7, 35, 43);
   
    transition-duration: 0.8s;
    border-radius: 15px;
}

#input11comfirm:hover{
    border-color:rgb(26, 196, 134);
}

#question{
    font-family: font1;
    font-size: 30px;
    color: white;
    position: fixed;
    top: 253px;
    left: 550px;

    margin-right: 500px;
}

#elementnav{
    background-color: rgb(7, 35, 43);
    position: fixed;
    left: 500px;
    top: 150px;
    width: 1200px;
    height: 80px;
    border-radius: 15px;
}

#elementtitle{
    font-family: font1;
    font-size: 30px;
    color: white;
    position: fixed;
    top: 140px;
    left: 550px;
}

#quespanel{
    background-color: rgb(7, 35, 43);
    position: fixed;
    left: 520px;
    top: 260px;

    width: 900px;
    height: 120px;

    border-radius: 15px;
}
