@font-face { font-family: font1; src: url("SourceCodePro-Regular.ttf"); }

#title{
    font-family: font1;
    font-size: 40px;
    color: white;
    position: fixed;
    left: 30px;
    top: -25px;
}

#basics1{
    font-family: font1;
    font-size: 20px;
    color: white;
    width: 300px;
    height: 50px;
    position: fixed;
    left: 0px;
    top: 150px;
    background-color: rgb(10, 52, 62);
    border: 2px solid rgb(10, 52, 62);
    transition-duration: 0.4s;
}

#basics1:hover{
    background-color: rgb(2, 7, 12);
    border-color: rgb(2, 7, 12);
    width: 320px;
}

#basics2{
    font-family: font1;
    font-size: 20px;
    color: white;
    width: 300px;
    height: 50px;
    position: fixed;
    left: 0px;
    top: 200px;
    background-color: rgb(10, 52, 62);
    border: 2px solid rgb(10, 52, 62);
    transition-duration: 0.4s;
}

#basics2:hover{
    background-color: rgb(2, 7, 12);
    border-color: rgb(2, 7, 12);
    width: 320px;
}

#basics3{
    font-family: font1;
    font-size: 20px;
    color: white;
    width: 300px;
    height: 50px;
    position: fixed;
    left: 0px;
    top: 250px;
    background-color: rgb(10, 52, 62);
    border: 2px solid rgb(10, 52, 62);
    transition-duration: 0.4s;
}

#basics3:hover{
    background-color: rgb(2, 7, 12);
    border-color: rgb(2, 7, 12);
    width: 320px;
}

#lvltitle{
    font-family: font1;
    font-size: 40px;
    color: white;
    position: fixed;
    left: 500px;
    top: 5px;
}

#nav{
    background-color: rgb(10, 52, 62);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 2000px;
    height: 80px;
}

#git{
    width: 60px;
    position: fixed;
    top: 10px;
    right: 40px;
}

#html{
    font-family: font1;
    font-size: 30px;
    color: white;
    width: 120px;
    height: 80px;
    position: fixed;
    left: 500px;
    top: 0px;
    background-color: rgb(10, 52, 62);
    border: 2px solid rgb(10, 52, 62);
    transition-duration: 0.4s;
}

#html:hover{
    background-color: rgb(2, 7, 12);
    border-color: rgb(2, 7, 12);
}


#code{
    background-color: rgb(10, 52, 62);
    width: 1200px;
    height: 700px;
    position: fixed;
    left: 500px;
    top: 150px;
}

#intro{
    font-family: font1;
    font-size: 20px;
    color: white;
    position: fixed;
    left: 530px;
    top: 160px;
    margin-right: 200px;
}

#head{
    font-family: font1;
    font-size: 20px;
    color: white;
    position: fixed;
    left: 530px;
    top: 250px;
    margin-right: 200px;
}